@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
      
}

.item {
    width: 650px;
    margin-top: 50px;
    
    &__title {
        padding: 25px 25px;
        border-radius: 10px 10px 0px 0px;
        color:rgb(246, 246, 246);
        background-color: #414142;
    }
    
    &__addBlock {
        display: flex;
        padding: 10px 10px;
        color:rgb(145, 145, 145);
        align-items:center;   
        box-shadow: 0 0 2px #c2c2c2;
    }
    
    &__addInput {
        font-size: 18px;
        color:#515151;
        padding-left:10px;
        border: 0 solid;
        width: 95%;
    }
    
    &__addBlock a {
        // transform: rotate(45deg);
        padding-left: 5px;
        font-size: 28px;
        font-weight: 900;
        color:#08b1ba;
        text-decoration: none;
        cursor: pointer;
    }
    
    &__filter {
        display: flex;
        box-shadow: 0 0 2px #c2c2c2;
        
    }
    
    &__filter_active {
        border-bottom: 3px solid #08b1ba;
        :hover {
            color:#08b1ba;
        }
    }
    
    &__filter li button{
        padding: 15px;
        width: 100%;
        height: 40px;
        border: 0 rgb(255, 255, 255);
        background-color: #fff;
        font-weight: 600;
        color:#5b5a5a;
        cursor: pointer;
    }
}  

.task {
    width: 650px;
    &__list {
        display: flex;
        padding-left: 10px;
        font-size: 28px;
        font-weight: 900;
        color:#08b1ba;
        cursor: pointer; 
        box-shadow: 0 0 2px #c2c2c2;
        border: 1px solid rgb(212, 209, 209);
        align-items:center;

        &_checkbox {
            input {
                display: none;
            }
            label {
                cursor:pointer;
                display: inline-block;
                border: 2px solid #e8e8e8;
                border-radius: 20px;
                width: 20px;
                height: 20px;
            }
            input:checked + label {
                background-color: #4dd599;
                border-color: #4dd599;
            }
        }
    }
    
    &__list_input { 
        color: #000000;
        padding: 15px;
        border:0;
        font-size: 18px;
        width: 90%;
        font-weight: normal;    
    }
    
    &__button {
        display: flex;
        border: 1px solid rgb(212, 209, 209);
        width: 100%;
        box-shadow: 0 0 2px #c2c2c2;
        border-radius: 0px 0px 10px 10px;
        
    }

    &__button button{
        padding: 15px;
        height: 45px;
        border: 0 rgb(255, 255, 255);
        background-color: #fff;
        font-weight: 600;
        color:#08b1ba;
        cursor: pointer;
        border-radius:10px;
    }

    &__trash * {
        fill: #888888;
        opacity: 0.7;
    }
    &__trash:hover * {
        fill: #c80404;
        opacity: 0.8;
    }
    &__redact * {
        fill: #5e5e5e;
        opacity: 0.7;
    }
    &__redact:hover * {
        fill: #01b009;
        opacity: 0.9;
    }
 
   
}


